/* General */

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
   margin: 1;
   padding: 0;
}

html,
body {
   font-family: "Space Mono", monospace;
   font-optical-sizing: auto;
   font-weight: 400;
   background: radial-gradient(circle, #000200, #000014);
   overflow: hidden;
   scroll-behavior: smooth;
}

/* She looked at my watch too long, now she see stars (Blaow, blaow) */
/* DO COOL BACKGROUND ANIMATION LATER*/

p {
   color: whitesmoke;
}

/* button transitions */

a,
.button {
   transition: all 300ms ease;
}

/* Desktop Nav */
nav,
nav-links {
   display: flex;
   position: relative;
   z-index: 1;
}

nav {
   color: whitesmoke;
   justify-content: space-evenly;
   align-items: baseline;
   height: 17vh;
}

.nav-links {
   gap: 2rem;
   list-style: none;
   font-size: 1.5rem;
}

a {
   color: whitesmoke;
   text-decoration: none;
   text-decoration-color: whitesmoke;
}

a:hover {
   color: #4967fc;
   text-decoration: wavy;
   text-underline-offset: 1rem;
}

.logos {
   font-size: 2rem;
}

.logo:hover {
   cursor: default;
}

/* Hamburger Menu */

#hamburger-nav {
   display: none;
}

.hamburger-menu {
   position: relative;
   display: inline-block;
}

.hamburger-icon {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 22px;
   width: 32px;
   cursor: pointer;
}

.hamburger-icon span {
   width: 100%;
   height: 2px;
   background-color: whitesmoke;
   transition: all 0.3 ease-in-out;
}

.menu-links {
   position: absolute;
   top: 100%;
   right: 0%;
   background-color: grey;
   width: fit-content;
   max-height: 0;
   overflow: hidden;
   transition: all 0.3 ease-in-out;
}

.menu-links a {
   display: block;
   padding: 10px;
   text-align: center;
   font-size: 1.5rem;
   color: whitesmoke;
   text-decoration: none;
   transition: all 0.3 ease-in-out;
}

.menu-links list {
   list-style: none;
}

.menu-links.open {
   max-height: 300px;
}

.hamburger-icon.open span:first-child {
   transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
   opacity: 0;
}

.hamburger-icon.open span:last-child {
   transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
   transform: none;

}

.hamburger-icon span:first-child {
   opacity: 1;
}

.hamburger-icon span:first-child {
   transform: none;
}

/* button-container*/

 .button-container {
   margin-bottom: 20px;
   display: flex;
   justify-content: center;
 }

  /* FANCY RAINBOW BUTTON STUFF START */

 .content-button {
   padding: 1.6em 3em;
   border: none;
   outline: none;
   color: rgb(255, 255, 255);
   background: #111;
   cursor: pointer;
   position: relative;
   z-index: 0;
   border-radius: 10px;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   margin-left: 10px;
   margin-right: 10px;
 }

 .content-button:before {
   content: "";
  background: linear-gradient(
    45deg,
    #000012,
    #4967fc,
    #7a00ff,
    #521344,
    #002bff,
    #29295c
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
 }

 @keyframes glowing-button-85 {
   0% {
     background-position: 0 0;
   }
   50% {
     background-position: 400% 0;
   }
   100% {
     background-position: 0 0;
   }
 }

 .content-button::after {
   z-index: -1;
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   background: #222;
   left: 0;
   top: 0;
   border-radius: 10px;
 }

 /* FANCY RAINBOW BUTTON STUFF END */

 .content-container .content {
   margin-bottom: 20px;
   display: flex;
   justify-content: center;
   display: none;
}

.content-container .content.active {
   margin-bottom: 20px;
   display: flex;
   justify-content: center;
   color: whitesmoke;
}

